server {
    listen 80;
    listen [::]:80;

    server_name {{ snipeit_domain }};   
    root   {{ root_path }};
    index  index.php index.html index.htm;
    
    access_log /var/log/nginx/snipeit.teju.com.access.log; 
    error_log /var/log/nginx/snipeit.teju.com.error.log;


    location / {
    try_files $uri $uri/ /index.php$is_args$args;
      }

    location ~ \.php$ {
         include snippets/fastcgi-php.conf;
         fastcgi_pass unix:/var/run/php/{{ php_fpm }}.sock;
         include fastcgi_params;
         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
         fastcgi_intercept_errors on;
    }
}